# File System
.DS_Store
Thumbs.db
olist_dbt
.venv/
logs/
# Python & Virtual Env
__pycache__/
*.py[cod]
.venv/
venv/
env/

# dbt specific (PENTING!)
target/
dbt_packages/
logs/

# Database Files (JANGAN UPLOAD DATABASE)
*.duckdb
*.duckdb.wal

# Environment Variables / Secrets
.env